.react-tree {
  margin: 0;
  padding: 5px;
}
.react-tree li {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.react-tree li .draggable[draggable],
.react-tree li .draggable[draggable="true"] {
  color: #333;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.react-tree li .draggable[draggable] > a,
.react-tree li .draggable[draggable="true"] > a {
  text-decoration: none;
}
.react-tree li.drag-over > .draggable[draggable] {
  background-color: #316ac5;
  color: white;
  border: 1px #316ac5 solid;
  opacity: 0.8;
}
.react-tree li.drag-over-gap-top > .draggable[draggable] {
  border-top: 2px blue solid;
}
.react-tree li.drag-over-gap-bottom > .draggable[draggable] {
  border-bottom: 2px blue solid;
}
.react-tree li.filter-node > .draggable {
  color: #a60000!important;
  font-weight: bold!important;
}
.react-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.react-tree li .draggable {
  display: inline-block;
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 17px;
  text-decoration: none;
  vertical-align: top;
}
.react-tree li span.react-tree-switcher,
.react-tree li span.react-tree-checkbox,
.react-tree li span.react-tree-iconEle {
  line-height: 16px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
}
.react-tree li span.react-tree-checkbox,
.react-tree li span.react-tree-iconEle {
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://t.alipayobjects.com/images/T1.ANfXhXtXXXXXXXX.png");
}
.react-tree li span.react-tree-switcher {
  background: none;
  position: relative;
}
.react-tree li span.react-tree-switcher:before,
.react-tree li span.react-tree-switcher::before {
  position: absolute;
  font-size: 0.6em;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  top: 0;
  left: 0;
  content: '\0020';
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.react-tree li span.react-tree-switcher.react-tree-roots_open:before,
.react-tree li span.react-tree-switcher.react-tree-center_open:before,
.react-tree li span.react-tree-switcher.react-tree-bottom_open:before,
.react-tree li span.react-tree-switcher.react-tree-noline_open:before,
.react-tree li span.react-tree-switcher.react-tree-roots_open::before,
.react-tree li span.react-tree-switcher.react-tree-center_open::before,
.react-tree li span.react-tree-switcher.react-tree-bottom_open::before,
.react-tree li span.react-tree-switcher.react-tree-noline_open::before {
  content: '▶︎';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.react-tree li span.react-tree-switcher.react-tree-roots_close:before,
.react-tree li span.react-tree-switcher.react-tree-center_close:before,
.react-tree li span.react-tree-switcher.react-tree-bottom_close:before,
.react-tree li span.react-tree-switcher.react-tree-noline_close:before,
.react-tree li span.react-tree-switcher.react-tree-roots_close::before,
.react-tree li span.react-tree-switcher.react-tree-center_close::before,
.react-tree li span.react-tree-switcher.react-tree-bottom_close::before,
.react-tree li span.react-tree-switcher.react-tree-noline_close::before {
  content: '▶︎';
}
.react-tree li span.react-tree-checkbox {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  background-position: 0 0;
}
.react-tree li span.react-tree-checkbox-checked {
  background-position: -14px 0;
}
.react-tree li span.react-tree-checkbox-indeterminate {
  background-position: -14px -28px;
}
.react-tree li span.react-tree-checkbox-disabled {
  background-position: 0 -56px;
}
.react-tree li span.react-tree-checkbox.react-tree-checkbox-checked.react-tree-checkbox-disabled {
  background-position: -14px -56px;
}
.react-tree li span.react-tree-checkbox.react-tree-checkbox-indeterminate.react-tree-checkbox-disabled {
  position: relative;
  background: #ccc;
  border-radius: 3px;
}
.react-tree li span.react-tree-checkbox.react-tree-checkbox-indeterminate.react-tree-checkbox-disabled::after {
  content: ' ';
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute;
  left: 3px;
  top: 5px;
  width: 5px;
  height: 0;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
}
.react-tree-child-tree {
  display: none;
}
.react-tree-child-tree-open {
  display: block;
}
.react-tree-treenode-disabled > span,
.react-tree-treenode-disabled > .draggable,
.react-tree-treenode-disabled > .draggable span {
  color: #ccc;
  cursor: not-allowed;
}
.react-tree-node-selected {
  background-color: #ffe6b0;
  border: 1px #ffb951 solid;
  opacity: 0.8;
}
.react-tree-icon__open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
}
.react-tree-icon__close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
}
.sk-wave {
  display: inline-block;
  margin: 0 auto;
  width: 20px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  vertical-align: center;
}
.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 1px;
  margin-left: 1px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect.sk-rect1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.sk-wave .sk-rect.sk-rect2 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.sk-wave .sk-rect.sk-rect3 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.sk-wave .sk-rect.sk-rect4 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-wave .sk-rect.sk-rect5 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
